body {
    padding: 90px;
    font-family: Arial, Helvetica, sans-serif;
  }

.sidebar__wrap {
    width: 25%;
    min-width: 120px;
    background-color: #FEF7E2;
    height: 700px;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.sidebar__user {
    flex: 1 0 70px;
    min-height: 50px;
    background-color: #FFDF7E;
    border-radius: 50px;

    display: flex;
    flex-direction: row;
}

.user__propic {
    flex: 1 0;
    border-radius: 50px;
    margin: 7px;
}

.user__info {
    flex: 5 0 100px;
    display: flex;
    flex-direction: column;
  
    justify-content: center;
}

.user__name, small {
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width:1050px) {
    .sidebar__user {
        justify-content: center;
    }
    .user__info {
        display: none;

    }
    .user__propic {
       
        flex: none!important;
    }
}